@{
    ViewData["Title"] = "Categories";
}
<h2>@ViewData["Title"]</h2>

<!--I want to make this a bit more sophisticated, with bigger boxes to click on, but I'm going to leave it at this for now.
    I think bringing in my own images and just making them links is the best option, but I'm going to deal with that later.-->
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <a href="/../Category/HighFantasy" class="btn btn-info" role="button">High Fantasy</a>
        </div>
        <div class="col-xs-3">
            <a href="/../Category/HistoricalFantasy" class="btn btn-info" role="button">Historical Fantasy</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-3">
            <a href="/../Category/ScienceFiction" class="btn btn-info" role="button">Science Fiction</a>
        </div>
        <div class="col-xs-3">
            <a href="/../Category/Steampunk" class="btn btn-info" role="button">Steampunk</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-3">
            <a href="/../Category/Superheroes" class="btn btn-info" role="button">Superheroes</a>
        </div>
        <div class="col-xs-3">
            <a href="/../Category/UrbanFantasy" class="btn btn-info" role="button">Urban Fantasy</a>
        </div>
    </div>
</div>

