
@{
    ViewData["Title"] = "Home Page";

}

<h2>Home Page</h2>

<h3>This page is under construction.</h3> 

<div>
    @Html.ActionLink("Add a book", "Index", "Books")
    @Html.ActionLink("Add an author", "Index", "Authors")
</div>