
@{
    ViewData["Title"] = "Library";

}

<h2>View</h2>

<!-- How do I set it so that it can only be seen once logged in is the question.-->
This is where I will put books that a user had read, only viewable once they log in.



