
@{
    ViewData["Title"] = "NewBook";
}
<!--Ideally this will only be visible to admins or people with a certain level of clearance, so that not just anyone can add
    a new book to the database.-->

<h2>Add a new book</h2>
<br />
<h4>Fill out this form to add a new book to the website!</h4>
<br />
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                Cover image upload place
            </div>
            <div class="col-xs-3">
                <label for="title">Title</label> <br />
                <input type="text" name="title" />
            </div>
            <div class="col-xs-3">
                <label for="author">Author</label> <br />
                <input type="text" name="author" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-3">
                <label for="category">Category</label> <br />
                <select name="category">
                    <option value="">Choose a category</option>
                    <option value="high_fant">High Fantasy</option>
                    <option value="urban_fant">Urban Fantasy</option>
                    <option value="historical_fant">Historical Fantasy</option>
                    <option value="scifi">Science Fiction</option>
                    <option value="superheroes">Superheroes</option>
                    <option value="steampunk">Steampunk</option>
                </select>
            </div>
            <div class="col-xs-3">
                <label for="rating">Rating</label> <br />
                <select name="rating">
                    <option value="">Choose a rating</option>
                    <option value="kids">Kids</option>
                    <option value="ya">Young Adult</option>
                    <option value="adult">Adult</option>
                    <option value="explicit">Explicit</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <label for="tags">Choose up to six tags</label> <br />
        <div class="row">
            <div class="col-xs-3">
                <input type="text" name="tag1" />
            </div>
            <div class="col-xs-3">
                <input type="text" name="tag2" />
            </div>
            <div class="col-xs-3">
                <input type="text" name="tag3" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-3">
                <input type="text" name="tag4" />
            </div>

            <div class="col-xs-3">
                <input type="text" name="tag5" />
            </div>
            <div class="col-xs-3">
                <input type="text" name="tag6" />
            </div>
        </div>
    </div>
    <br />
    <br />
        <input type="button" name="submit" value="Submit" />

</form>